Package: com.anthopak.pancake
Name: PanCake
Depends: firmware (>= 5.0), mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Interactive dismiss gesture on the whole screen in all apps
Maintainer: AnthoPak
Author: AnthoPak
Section: Tweaks
